.hero-section {
    background-color: $primary-accent;
    // padding: 4rem 0rem;
    height: 48vh;
    // padding-top: 3rem;
    // height: 30vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.illustration {
    margin-top: calc(5rem + 3vh);
    width: 23vh;
    height: 23vh;
    background-color: $nav-bg;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.code_illustration {
    width: 20vh;
}

.hero-text {
    margin-top: 3vh;
    color: #fff;
}

.hero-section p {
    color: #fff;
    text-align: center;
    margin-top: 1vh;
}

.contact-hero {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.contact {
    flex: 1;
    box-sizing: content-box;
    padding: 0.5rem 0;
    color: #fff;
}